* {
    margin: 0;
    padding: 0;
}
body{
   
    background-color: #233329;
}
/*background-image: linear-gradient(to top, rgba(35,51,41,1),rgba(35,51,41,0));*/

/* Navigation Bar CSS */
.navbar{
    padding:0;
    margin: 0 auto;
    height:75px;
    background-color: #FBFAF8 ;
    display:flex;
    justify-content: center ;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 50 ;
    font-size: 1rem;
}
.navbarCont {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    margin: 1500px;
    margin: 0 auto;
    padding: 0 0.5rem;
    background-color: #FBFAF8;

}
li a:hover {
    color: #233329;
    font-weight: bold;
} 
.navbarRow{
    list-style: none;
    text-align: center;
    display:flex;
    text-align: center;    
}
.logo{
    height: 75px;
    width:75px;
}
.navListItem {
    height: 75px;
    
}

.moveRight{
    list-style: none;
    text-align: center;
    display:flex;
    text-align: center;
    
}
.navLink{
    color: #3b7d4f; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Hero Box Content*/
.hero{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}



.heroText{
    position: relative;
    font-size: 2rem; 
    text-align: left;
    justify-content: flex-start;
    color: #FBFAF8;
    text-shadow: 1px 1px 2px #233329;

    
}

/*Parallax Conent*/
.parallax{
    //background-image: url('images/codingbackground.jpg');
can i
    background-size: cover;
}

/* Text Box Content CSS */

.contentBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.contentWrapper{

}
.textCont{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-color: #3b7d4f;
    margin: 3rem;
}
.titleText{
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-flex-direction: column;
    padding: 1rem;
    color: #233329;
}
.textBody{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1.5rem;
    padding-bottom: 0.5rem;
    color: #F5F5F5;
}


/*Footer CSS*/

.footerCont{
    background-color: #3b7d4f ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerInfo{
    width:100%;
}
.footerItems{
    width:fit-content;
    max-width: 500px;
    display: flex;
    justify-content: flex;
    flex-direction: column;
}
.footerInfoWrapper{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}
.footerLink{
    text-decoration:none;
    color: #F5F5F5;

}
.footerLink:hover{
    /* text-decoration: underline;
    text-decoration-color: #233329; */
    color: #233329;
   
}
.footerHeader{
    color: #233329;
    
    text-decoration: underline;
    text-decoration-color: #233329;
}

/* .footerTagDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
} */
/* .footerTagWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.footerNameTag{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items:center;
} */
.footerItemsLogo{
    /* width:fit-content;
    max-width: 500px; */
    display: flex;
    justify-content: flex; 
    flex-direction: row;
    align-items: center;
    color:#F5F5F5
}

@media screen and (max-width: 400px){
    .footerInfoWrapper{
        display: flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navLink{
        padding: 0 10px;
    }

}