* {
    margin: 0;
    padding: 0;
    border:0;
}
body{
   /* background-color: #233329; */
    background-color: #3b7d4f;
}

/* Navigation Bar CSS */
.navbar{
    padding:0;
    margin: 0 auto;
    height:75px;
    background-color: #FBFAF8 ;
    display:flex;
    justify-content: center ;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 50 ;
    font-size: 1rem;
}
.navbarCont {
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    margin: 1500px;
    margin: 0 auto;
    padding: 0 0.5rem;
    background-color: #FBFAF8;

}
li a:hover {
    color: #233329;
    font-weight: bold;
} 
.navbarRow{
    list-style: none;
    text-align: center;
    display:flex;
    text-align: center;    
}
.logo{
    height: 75px;
    width:75px;
    background-color: #FBFAF8;
}
.navListItem {
    height: 75px;
    
}

.moveRight{
    list-style: none;
    text-align: center;
    display:flex;
    text-align: center;
    
}
.navLink{
    color: #3b7d4f; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Hero Box Content*/
.pageContainerHomePage{
    position: relative;
    min-height: 100vh;
}
.hero{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: right;
    justify-content: flex-end;
    width: 100%;
    padding-top: 9rem;
    padding-bottom: 9rem;

}

.heroText{
    position: relative;
    font-size: 2.5rem; 
    text-align: right;
    justify-content: flex-start;
    color: #FBFAF8;
    text-shadow: 1px 1px 2px #233329;
    padding-right: 2rem; 
}

.heroTextProject{
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 850px){
    .heroText{
        text-align: left;
    }
    .hero{
        justify-content: flex-start;
        align-items: left;
    }
    .parallaxHome{
        background: url('images/OdilePortraitVeryCroppedResized.jpg') fixed !important;
        width:100%;
    }
    .heroText{
        padding-right: 0 !important;
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    .textCont {
        margin: 2rem 3rem !important;

    }

}


/*Hero Image Formatting*/

.outerHeroContHome{
    background-image: url('images/ClementsPortraitOriginal.jpg');
    width:100%; 
    background-color: #233329;
    background-size:cover;

}



.transitionGradient{
    height: 100px;
    width: 100%;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(59, 125, 79, 0), rgba(59, 125, 79, 0.75), rgba(59, 125, 79, 1));
    margin-top: -6rem;
}


/* Text Box Content CSS */

.contentBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.textCont{
    
    background-color: #FBFAF8;
    margin: 3rem 6rem;
    border-radius: 25px;
}
.titleText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    color: #3b7d4f;
}
.textBody{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1.5rem;
    padding-bottom: 2rem;
    color: #233329;
    font-size: large;
}

/*About Me Page*/

.contentBodyAboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.contentWrapperAboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
} 
.textContAboutMe{
    background-color: #FBFAF8;
    margin: 3rem;
    border-radius: 25px;
}
.titleTextAboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #3b7d4f;
}
.textBodyAboutMe{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    color: #233329;
    font-size: large;
}
.aboutMePhoto{
    object-fit: cover;
    width:300px;
    /* height: 300px; */
    border-radius: 25px;
    margin: 3rem;

}


@media screen and (max-width: 800px){
    .aboutMePhoto{
        object-fit: cover;
        width: 300px;
        height: 300px;
        border-radius: 200px;
        margin: 3rem;
        margin-bottom: 0; 
}
    .contentBodyAboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .contentWrapperAboutMe{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    } 

}

@media screen and (max-width: 400px){
    .aboutMePhoto{
        object-fit: cover;
        width: 90%;
        height: 250px;
        /* border-radius: 50px; */
    }
}

/*Footer CSS*/

.footerCont{
    background-color: #233329 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
   

}
.footerContAboutMe{
    background-color: #233329 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}
.footerInfo{
    width:100%;
}
.footerItems{
    width:fit-content;
    max-width: 500px;
    display: flex;
    justify-content: flex;
    flex-direction: column;
}
.footerInfoWrapper{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding: 10px;
}
.footerLink{
    text-decoration:none;
    color: #FBFAF8;
    padding-left: 1rem;
    padding-top: 0.5rem;

}
.footerTextWhite{
    text-decoration:none;
    color: #FBFAF8;
    padding-left: 1rem;
    padding-top: 0.5rem;

}
.footerLink:hover{
    /* text-decoration: underline;
    text-decoration-color: #233329; */
    color: #3b7d4f;
   
}
.footerHeader{
    color: #FBFAF8;
    
    text-decoration: underline;
    text-decoration-color: #FBFAF8;
}

.footerItemsLogo{
    /* width:fit-content;
    max-width: 500px; */
    display: flex;
    justify-content: flex; 
    flex-direction: row;
    align-items: center;
    color:#fbfaf8;
}

@media screen and (max-width: 450px){
    .footerInfoWrapper{
        display: flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .navLink{
        padding: 0 10px;
    }
    .pageContainer {
        position: relative;
        width:100%;
        min-height:100vh;
    }
    .contentBody{
        padding-bottom: 465px !important;
    }
    .footerCont{
        background-color: #233329 ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;    
    }

}

/* Contact Page Styling */

.pageContainer {
    position: relative;
    width:100%;
    min-height:100vh;
}

.contentBody{
    padding-bottom: 225.5px;
}



/*Projects Landing Page Styling*/

.projectDirection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    /* align-items: right;
    justify-content: flex-end; */
}

.projectHeroPadding{
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.outerHeroContProjects{
    background-image: url('images/blackandwhiteblot.jpg');
    width:100%; 
    background-color: #233329;
    background-size:cover;
 
}

.addMargin{
    margin: 60% 0;
}
.parallax-inner h1{
    font-size: 2rem;
    color: #FBFAF8;
    text-shadow: 1px 1px 2px #233329;
    padding-left: 20px;
}

/* Parallax Formatting*/

.parallax{
    background: url('images/codingbackground.jpg') repeat fixed 55%;
}

.parallax-inner{
    padding-top:15%;
    padding-bottom: 15%;
}

.parallaxHome{
    background: url('images/OdilePortraitCroppedResized.jpg') fixed;
    width:100%;
}

.parallaxHome-inner{
    padding-top: 5%;
    padding-bottom: 5%;
} 

.parallaxContact{
    background: url('images/blackandwhiteblot.jpg') repeat fixed 55%;
    width:100%;
}

.parallax-innerContactLeft{
    
    margin-bottom: 40vh;
    padding-top: 25px;
    /* padding-bottom: 5%;  */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    

}

.parallax-innerContactRight{
    
    margin-bottom: 40vh;
    /* padding-top: 25px; */
    /* padding-bottom: 5%; */
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.contactInfoTextContRight{
    background-color: #233329;
    position: absolute ;
    right: 0px;
    width: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 2.5rem;
    color: #fbfaf8;
    padding-right: 20vh;
}

.contactInfoTextContLeft{
    background-color: #233329;
    position: absolute ;
    left: 0px;
    width: fit-content;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    padding-left: 2.5rem;
    color: #fbfaf8;
    padding-right: 20vh;
}

.contactInfo{
    padding-left: 2rem;
}

a {
    text-decoration: none;
    color: #fbfaf8;
}

.footerCont a:hover {
    text-decoration: underline;
    color: #3b7d4f;
}


/* Products Card For Links to Specific Product Page*/

.projects{
    /* background-color: #FBFAF8; */
    display:flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.projects h1 {
    background-color: #3b7d4f;
    background-image: linear-gradient(to right, rgba(59, 125, 79, 1) 0%, rgba(59, 125, 79, 1) 50%, rgba(0,0,0,1) 100%);
    background-size: 100%;
    margin-bottom:5rem;
    font-size: 2.5rem;
    

}

.projectsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projectCard {
    margin: 1rem;
    height: 30vh;
    min-height: 400px;
    width: 50vw;
    max-width: 500px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.6) 100%), url('images/CentreCollegeLogo.png');
    background-size: cover;
    position:relative;
    color: #FBFAF8;
}

.projectCard:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.6) 100%), url('images/REUAICTTeamCropped.png');
}
.projects h2{
    position: absolute;
    top: 60%;
    left: 30px;
    font-size: 2rem;
}

.projectCard p{
    position:absolute;
    top:71%;
    left: 60px;
    font-size: 1rem;
}

.projectCard button {
    color:#FBFAF8;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #3b7d4f;
    position: absolute;
    top:80%;
    left:40px;
    font-size: 1rem;
    cursor: pointer;
}

.projectCard:hover{
    transform: scale(1.02);
    transition: 0.15s ease-in;
    cursor: pointer;
}



@media screen and (max-width: 700px){
    .projects h2{
        font-size: 1.5rem;
        
    }
    .projectCard p {
        font-size: 1rem;
    }
    .projectCard button {
        font-size: 1rem;
    }
}
@media screen and (max-width: 550px){
    .projects h2{
        font-size: 4vw;
        
    }
    .projectCard p {
        font-size: 3vw;
    }
    .projectCard button {
        font-size: 3vw;
    }
}
@media screen and (max-width: 450px){
    .projects h2{
        font-size: 5vw;
        
    }
    .projectCard p {
        font-size: 4vw;
    }
    .projectCard button {
        font-size: 4vw;
    }
}


/*Back Button Formatting*/




.backButtonLink{
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: absolute;
    left:0;
    top:0;
    padding-left: 20px;
    
}
.backButtonText{
    color:#FBFAF8;
    text-shadow: 1px 1px 2px #233329;
    z-index: 1;
    font-size: 1.5rem;
    text-decoration: none;
}

.backButtonText a:hover{
    cursor: pointer;
    text-decoration: underline !important ;
    /* transform: scale(1.05); */
    /* z-index: 1; */
}

/*Specific Product Page*/
.projectTitleHeader{
    padding-top: 1.5rem;
    color:#FBFAF8;

}

.embeddedVideo{
    padding-bottom: 30px;
}

.embeddedVideo iframe {
    width:80%;
    height: auto;

}

.textContSpecificProject{
    background-color: #FBFAF8;
    margin: 3rem 6rem;
    border-radius: 25px;
    width:90%;
}

.seeMoreButton{
    color:#FBFAF8;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #3b7d4f;
    
    
    font-size: 1rem;
    cursor: pointer;
}
.buttonCont{
    padding-left:20px;
    padding-bottom: 20px;

}


/* Photo Gallery Slider */


.imgSlider{
    position: relative;
    width:100%;
    margin:auto;
    overflow: hidden;
    max-height: 50vh;
    background-color: #FBFAF8;
}

.imgSlider img {
    width:100%;
    
    display: none;
}
img.shownSlide{
    display: block;
    animation: slideTransition;
    animation-duration: 0.5s;
}

.imgSlider button {
    position:absolute;
    font-size: 3rem;
    background: none;
    text-shadow: 1px 1px 2px #233329;
    color:#FBFAF8;
    text-decoration: none;
    top:50%;
    transform: translateY(-50%);
    
    


}

.imgSlider button:hover {
    
    font-weight: bold;
    color:#3b7d4f;
    cursor: pointer;
    /* transform: scale(1.05); */
}
.leftButton{   
    left:10px;
}
.rightButton{
    right: 10px;
}

@keyframes slideTransition {
    from {opacity: 0.7}
    to {opacity: 1}
}
